{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title<!--{% block title %}{% endblock %}--></title>

    <!--{% block styles%}{% endblock %}-->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/my_css.css" %}">
</head>
<body>

    {% block navbar %}
        {% include "navbar.html" %}
    {% endblock %}
    <div class="row">
        <div class="col-8">
            {% block content %}{% endblock %}
        </div>
        <div class="col-4">
            <div class="border">
                <div class="">
                    <h4>Total Questions: {{ qcount }}</h4>
                    <h4>Total Answers: {{ anscount }}</h4>
                </div>
            </div>
            <div class="border">
                <h4>Popular tags</h4>
                {% for tag in tag_list %}
                    <a href="/tag/{{tag.name}}">{{tag.name}}</a>
                {% endfor %}
                <h4>Best members</h4>
                {% for user in user_list %}
                    <div>
                        <a href="/settings/{{user.get_username}}">{{user.get_username}}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
