{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container question_container">
        <div class="row align-items-center">
            <div class="col-3"></div>
            <div class="col-md-4 my-md-2">
                <a class="btn btn-outline-primary btn-lg my-2" href="{% url 'new' %}"><h6>New questions</h6></a>
            </div>
            <div class="col-md-4 my-md-2">
                <a class="btn btn-outline-primary btn-lg my-2" href="{% url 'hot' %}"><h6>Hot questions</h6></a>
            </div>
        </div>
        <div class="col-12">
            {% for question in questions %}
                <div class="mx-auto" style="width: 700px;">
                    <div class="row question">
                        <div class="col-2 question_parent">
                            <div class="row">
                                <img src="{{ question.author.avatar.url }}" alt="avatar">
                            </div>
                            <div class="row question_child align-items-center mx-auto">

                                <button id="like" data-catid="{{question.id}}" class="btn btn-primary" type="button">
                                    <span class="glyphicon glyphicon-thumbs-up"></span>
                                    <svg aria-hidden="true" class="svg-icon" width="10" height="10" viewBox="0 0 36 36">
                                        <path d="M2 26h32L18 10z"></path></svg>
                                </button>

                                <strong id="like_count">{{ question.votes }}</strong>

                                <button id="dislike" data-catid="{{question.id}}" class="btn btn-primary" type="button">
                                    <span class="glyphicon glyphicon-thumbs-up"></span>
                                    <svg aria-hidden="true" class="svg-icon" width="10" height="10" viewBox="0 0 36 36">
                                        <path d="M2 10h32L18 26z"></path></svg>
                                </button>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="row">
                                <h3><a href="/question/{{ question.id }}">{{ question.title }}</a></h3>
                            </div>
                            <div class="row">
                                <p>{{ question.text }}</p>
                            </div>
                            <div class="row question_child">
                                <div class="col">
                                    <h6>  answers({{ question.answer_set.all|length }})  </h6>
                                </div>
                                <div class="col">
                                    Tags:
                                    {% for tag in question.tags.all %}
                                        <div class="col">
                                            {{tag}}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <nav>
              {% if questions.has_other_pages %}
              <ul class="pagination justify-content-center">
                {% if questions.has_previous %}
                  <li><a class="page-link" href="?page={{ questions.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="disabled page-link"><span>&laquo;</span></li>
                {% endif %}
                {% for i in questions.paginator.page_range %}
                  {% if i > questions.number|add:"-5" and i < questions.number|add:"5" %}
                      {% if questions.number == i %}
                        <li class="page-item active">
                          <span class="page-link">
                            {{ i }}
                            <span class="sr-only">(current)</span>
                          </span>
                        </li>
                      {% else %}
                        <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                  {% endif %}
                {% endfor %}
                {% if questions.has_next %}
                  <li><a class="page-link" href="?page={{ questions.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="disabled page-link"><span>&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}
            </nav>
        </div>
    </div>
{% endblock %}
