{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated and user.id == profile.id %}
    <div class="col-12 border">
        <div class="col-3 border"></div>
        <table class="table col-9">
            <tbody>
            <tr>
                <th scope="row">Nickname</th>
                <td> <h3>{{ profile.username }}</h3></td>
            </tr>
            <tr>
                <th scope="row">First name</th>
                <td>{{ profile.first_name }}</td>
            </tr>
            <tr>
                <th scope="row">Second name</th>
                <td>{{ profile.last_name }}</td>
            </tr>
            <tr>
                <th scope="row">Email</th>
                <td>{{ profile.email }}</td>
            </tr>
            <tr>
                <th scope="row">Avatar</th>
                <td>
                    <img class="user align-items-center" src="{{ profile.avatar.url }}" alt="">
                    <form class="col-6" id="avatar-form" enctype="multipart/form-data" method="post" action="{% url 'add_avatar' %}">
                        {% csrf_token %}
                        <input type="file" class="form-control-file" name="avatar">
                        <button class="col-12" type="submit" value="add_avatar">Add</button>
                    </form>
                </td>
            </tr>
            <tr>
                <th scope="row">Дата регистрации: </th>
                <td>{{ profile.registration_date }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% else %}
    <h2> Access error </h2>
{% endif %}

{% endblock %}
