{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated and user.id == profile.id %}
    <table class="table">
        <tbody>
        <tr>
            <th scope="row">Nickname</th>
            <td> <h3>{{ profile.username }}</h3></td>
        </tr>
        <tr>
            <th scope="row">First name</th>
            <td>{{ profile.first_name }}</td>
        </tr>
        <tr>
            <th scope="row">Second name</th>
            <td>{{ profile.last_name }}</td>
        </tr>
        <tr>
            <th scope="row">Email</th>
            <td>{{ profile.email }}</td>
        </tr>
        <tr>
            <th scope="row">Avatar</th>
            <td><img class="user" src="{{ profile.avatar.url }}" alt="">
                <input type="file" class="form-control-file" name="avatar">
            </td>
        </tr>
        <tr>
            <th scope="row">Дата регистрации: </th>
            <td>{{ profile.registration_date }}</td>
        </tr>
        </tbody>
    </table>
{% else %}
    <h2> Access error </h2>
{% endif %}

{% endblock %}
